.header-container {
  display: flex;
  height: 50px;
  padding: var(--spacing-small);
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-counter {
  margin-left: auto;
  padding-right: var(--spacing-small);
  cursor: pointer;
  font-weight: bold;
}
